In [2]:
x, y = input("请输入两个数，用空格分隔: ").split()
print("x =", x)
print("y =", y)
result = int(x) + int(y)
print(f"result = {result}")

x = 4
y = 56
result = 60

In [3]:
print('"hello"!')
# 可以在单引号中输出双引号

"hello"!

In [4]:
print("'hello'!")
# 也可以在双引号中输出单引号

'hello'!

In [6]:
print('''hello
world!''') # 三引号可以输出多行,支持换行以及单引号双引号

hello
world!

In [7]:
print("我叫%s,今年%d岁" % ("小明", 10)) # 老用法，不推荐

我叫小明,今年10岁

In [9]:
print('我今年{:3d}岁，我爸爸{:.2f}岁'.format(12,48))
# :3d表示一共有3位整数，不足补空格
# :.2f 表示小数点后两位

我今年 12岁，我爸爸48.00岁

In [10]:
x = 123
print(f"x的变量是{x}")
print(f"x的变量是{x:.2f}")

x的变量是123
x的变量是123.00

In [17]:
x = "123"
print(x.isalpha()) # 判断是否为字母
print(x.isdigit()) # 判断是否为数字

False
True

In [22]:
x = "helloworldisgood"
y = ",".join(x) # 用逗号连接字符串
print(y)
list1 = y.split(",") # 用逗号分割字符串
print(list1)
list2 = y.split(",", 3)
print(list2) # 用逗号分割字符串，分割3次

h,e,l,l,o,w,o,r,l,d,i,s,g,o,o,d
['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd', 'i', 's', 'g', 'o', 'o', 'd']
['h', 'e', 'l', 'l,o,w,o,r,l,d,i,s,g,o,o,d']

In [23]:
x = "Curry"
print(x.istitle())

True

In [25]:
x = "www.example.com"
print(x.lstrip("w.exampl"))
print(x)

com
www.example.com

In [27]:
x = "www.example.com"
print(x.replace(".","-",1))

www-example.com

In [29]:
x = "31415926"
y = ",".join(x)
print(y.rsplit(",",3))

['3,1,4,1,5', '9', '2', '6']

In [32]:
x = "curry"
y = x.upper()
print(y)
z = x.title()
print(z)
w = x.capitalize()
print(w)

CURRY
Curry
Curry

In [1]:
if (1):
    print("hello")
else:
    print("world")

hello